doctype html
html(lang="es" xml:lang="es")
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Safetypay Argentina
    link(rel="icon" href="https://www.safetypay.com/en/wp-content/uploads/2016/01/cropped-icon-principal-512-512-32x32.png" sizes="32x32")
    
    block _cssfiles_
      link(rel='stylesheet', href='css/app.css')

    body
      .Container
        block _main-content_
    
    block _jsfiles_
      script(src="js/vendor/jquery.min.js")
      script(src="js/vendor/materialize.min.js")
      script(src="js/modules/main-content.js")
      script(src="js/app.js")  
