/*---------------------------------------------------------------------------*
 * MainContent
----------------------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
.MainContent {
  .row{
    margin-bottom: 0;
  }
  .welcome{
    margin-bottom: 3rem;
  }
  .card{
    height:220px;
  }
  .card-image{
    top: -50px;
    width: 50%;
    margin:auto;
    img{
      margin:auto;
    }
  }
  .card-content{
    top: -50px;
    position: relative;
    color: #B71C1C;
  }
  .card-action{
    top: -50px;
    position: relative;
  }
  h3{
    margin:0
  }
  &--upload{
    .row{
      margin-bottom: 0;
    }

    label{
      font-size:1rem;
    }
    .help{
      font-size: 1rem;
      color: #9e9e9e;
      margin: 5px;
    }
    .firma{
      display: block;
      width: 300px;
      margin: 10px auto;
    }
  }
  &--list{
    .project{
        &:hover{
          text-decoration: underline;
        }
    }
    p{
      margin:0;
      font-size: 13px;
    }
    .collapsible-body{
      padding: 1rem 2rem;
    }
  }
}

// @include breakpoint(phablet) {
//   max-width:400px;
// }
/*---------------------------------------------------------------------------*
* Fin:MainContent
----------------------------------------------------------------------------*/
