.Ticket(data-nom-entidad="banco-provincia")
  .Ticket-guia 
    .guia-content.text-center Horario de atención para transferencias: <br> Lunes a viernes de 8:00 a 17:30 hrs. 
    
    //- <b>Puedes realizar el pago en efectivo <b>