.Ticket(data-nom-banco="pagofacil")
  .DisabledPointsMessage
    .DisabledPointsMessage__content El importe máximo para realizar el pago en PagoFácil es de $ 15.000,00 <br> <strong>Por favor realizar el pago en RapiPago</strong>
        include ..\..\atoms\text-message.pug