.Ticket(data-nom-banco="pagofacil")
  .DisabledPointsMessage
    .DisabledPointsMessage__content.h-text-center
      - var text_message = "El importe máximo para realizar el pago en PagoFácil es de $ 15.000,00"
      include ..\..\atoms\text-message.pug