//Ticket - Banco Itau
.Ticket(data-nom-entidad="banco-itau")
  .OneStepPaymentTicket__content
    .OneStepPaymentTicket__summary
        include ../../modules/one-step-ticket/payment-summary--without-fee.pug
    include ../../modules/one-step-ticket/expiration-time-tiny.pug