.Ticket(data-nom-banco="rapipago")
  .DisabledPointsMessage
    .DisabledPointsMessage__content.h-text-center
      - var text_message = "El importe máximo para realizar el pago en RapiPago es de $ 60.000,00"
      include ..\..\atoms\text-message.pug