.Ticket(data-nom-entidad="credicoop")
  .Ticket-guia 
    .guia-content-max.text-center La transacci칩n expirar치 en breve, puede volver a crear una transacci칩n o realizar el pago en efectivo.  
      p(style="margin-top:10px") <em> Horario de atenci칩n para realizar transferencias: </em><br>Lunes a viernes de 8:00 a 17:30 hrs.