//FormularioDatos - Banco Santander
.FormularioDatosAutenticacion(data-authenticated="no", data-form-general="general")
  .FormularioDatosAutenticacion-title Información requerida
  .FormularioDatosAutenticacion-content
    form.FormularioDatosAutenticacion-form#frm_datos_usuario_transferencia_efectivo(action="#")
      .FormularioDatosAutenticacion-list
        .FormularioDatosAutenticacion-item
          .FormularioDatosAutenticacion-boxLabelInput
            p.label Número de documento
            .BoxInput
              .InputWrapper
                input.InputText.InputText--documento(type="text",  name="frm_datos_nro_documento", placeholder="")
          .FormularioDatosAutenticacion-boxLabelInput
            span.label Nombre completo
            .BoxInput
              .InputWrapper
                input.InputText.InputText--nombreCompleto(type="text",  name="frm_datos_nombre_completo", placeholder="")
        .FormularioDatosAutenticacion-item
          .FormularioDatosAutenticacion-boxLabelInput
            span.label Email
            .BoxInput
              .InputWrapper
                input.InputText.InputText--correo(type="email", name="frm_datos_correo_loterica", placeholder="", maxlength="50", pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,63}$")
          .FormularioDatosAutenticacion-boxLabelInput
            span.label Celular
            .BoxInput
              //- select.Select#prefijo_telefono_loterica(name="frm_datos_prefijo_telefono_loterica")
              //-   option(value='') +51
              //-   option(value='') +51
              //-   option(value='', selected="selected") +55
              //-   option(value='') +1-011
              //-   option(value='') +57
              //-   option(value='') +503
              //-   option(value='') +1-011
              //-   option(value='') +502
              //-   option(value='') +504
              //-   option(value='') +52
              //-   option(value='') +507
              .InputWrapper.InputWrapper--celular
                input.InputText.InputText--celular(type="tel", name="frm_datos_celular_loterica", placeholder="")
      .clearfix
      .FormularioDatosAutenticacion-boxSubmit
        button.BotonPrincipal.BotonPrincipal--envioDatos(type="submit")
          | Continuar
          i.iconb_circleright
