<div class="MainContent">   
    <div class="container">
        <div class="row">
            <div class="col s12"><h2>Hola André</h2></div>
            <div class="col s12 m4">
                    <div class="card">
                        <div class="card-image">
                            <img src="img/1.svg">
                            <span class="card-title">Card Title</span>
                        </div>
                        <div class="card-content">
                                <h3>Observa</h3> el estado de tu proyecto
                        </div>
                        <div class="card-action">
                            <a href="#">Entrar</a>
                        </div>
                    </div>  
            </div>               
            <div class="col s12 m4">
                    <div class="card">
                        <div class="card-image">
                            <img src="images/sample-1.jpg">
                            <span class="card-title">Card Title</span>
                        </div>
                        <div class="card-content">
                                <h3>Analiza</h3>  más proyectos de ley
                        </div>
                        <div class="card-action">
                            <a href="#">Entrar</a>
                        </div>
                    </div>
            </div>                     
            <div class="col s12 m4">
                    <div class="card">
                        <div class="card-image">
                            <img src="images/sample-1.jpg">
                            <span class="card-title">Card Title</span>
                        </div>
                        <div class="card-content">
                                <h3>Plantea</h3>  tu proyecto de ley
                        </div>
                        <div class="card-action">
                            <a href="#">Entrar</a>
                        </div>
                    </div> 
        </div>
    </div>
</div>
</div>