<div class="MainContent--upload">   
    <div class="container">
            <div class = "row">
                <div class="col s12 welcome"><h2>Plantea tu proyecto de ley</h2></div>
                <form class = "col s12">
                    <div class = "row">
                        <div class="information">
                            <label> Adjuntar el proyecto de ley</label>
                            <a href="#modal1" class="modal-trigger">
                                <i class="material-icons prefix right help">help</i>
                            </a>
                            <div id="modal1" class="modal">
                                <div class="modal-content">
                                    <h4>Tienes que saber del proyecto:</h4>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus pariatur reprehenderit quia sed nisi tenetur eaque eligendi fuga non modi dolores voluptates distinctio, ducimus magnam cumque libero nulla praesentium debitis?</p>
                                </div>
                                <div class="modal-footer">
                                    <a href="#!" class="modal-close waves-effect waves-green btn-flat">OK</a>
                                </div>
                            </div>
                        </div>
                        <div class = "file-field input-field">
                            <div class = "btn red darken-4">
                            <span>Browse</span>
                            <input type = "file" />
                            </div>
                            <div class = "file-path-wrapper">
                            <input class = "file-path validate" type = "text"
                                placeholder = "Upload file" />
                            </div>
                        </div>
                    </div>
                </form>   
                <form class = "col s12">
                    <div class = "row">
                        <div class="information">
                            <label> Adjuntar el formulario del proyecto</label>
                            <a href="#modal2" class="modal-trigger">
                                <i class="material-icons prefix right help">help</i>
                            </a>
                            <div id="modal2" class="modal">
                                <div class="modal-content">
                                    <h4>Tienes que saber del formulario:</h4>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus pariatur reprehenderit quia sed nisi tenetur eaque eligendi fuga non modi dolores voluptates distinctio, ducimus magnam cumque libero nulla praesentium debitis?</p>
                                </div>
                                <div class="modal-footer">
                                    <a href="#!" class="modal-close waves-effect waves-green btn-flat">OK</a>
                                </div>
                            </div>
                        </div>
                        <div class = "file-field input-field">
                            <div class = "btn red darken-4">
                            <span>Browse</span>
                            <input type = "file" />
                            </div>
                            <div class = "file-path-wrapper">
                            <input class = "file-path validate" type = "text"
                                placeholder = "Upload file" />
                            </div>
                        </div>
                    </div>
                </form> 
                <div class="col s12">
                    <a class="waves-effect waves-light btn-large firma red darken-4"><i class="material-icons right">fingerprint</i>Firmar documento</a>
                    <div class="validate--button">
                        <div id="fountainG">
                            <div id="fountainG_1" class="fountainG"></div>
                            <div id="fountainG_2" class="fountainG"></div>
                            <div id="fountainG_3" class="fountainG"></div>
                            <div id="fountainG_4" class="fountainG"></div>
                            <div id="fountainG_5" class="fountainG"></div>
                            <div id="fountainG_6" class="fountainG"></div>
                            <div id="fountainG_7" class="fountainG"></div>
                            <div id="fountainG_8" class="fountainG"></div>
                        </div>
                        <p class="ready-reload"><i class="material-icons">check</i>Documento validado</p>
                    </div>
                </div>
            </div>
    </div>
</div>