$w_desktop:       840px;
$w_tablet:        768px;
$w_tablet_mq:     767px;
$w_phablet_large: 700px;
$w_phablet:       640px;
$w_phablet_small: 600px;
$w_mobile:        480px;
$w_mobile_small:  360px;
