// --------------------------------------------------------------------------*
// Lista de colores sueltos
// --------------------------------------------------------------------------*
$c_azul_base    : #135699;
$c_azul_claro_1 : #4380c6;
$c_azul_claro_2 : #c9e5fb;

$c_blanco       : #fff;
$c_gris_1       : #DEDEDE;

$color-blue-dark-2:       #2d77c1;
// --------------------------------------------------------------------------*
// Lista de colores sem치ntico
// --------------------------------------------------------------------------*

// Textos
$c_texto_base      : #404040;
$c_texto_base      : #3D3D3D;
$c_texto_base_azul : $c_azul_base;

// Bot칩n principal
$c_bg_boton_principal : #355796;

// M칩dulo de Ticket de pago
$c_bg_ticket_monto  : #f6f6f6;
$c_bg_ticket_tiempo : #e1ebfc;

// M칩dulo del Slide entidades financieras
