.ExpirationTimeTiny
  .ExpirationTimeTiny__content.h-text-center 
    //- span Su transacción expira a las 11:00 PM, le quedan para pagar.
    <span class="text">Su transacción expira a las 13:00 hrs del 20-oct-2017.</span> <span class="text">Le quedan<span class="timer"><span class="timer__clock"></span><span class="timer__hours">08h</span><span class="timer__divisor">:</span><span class="timer__minutes">10m</span><span class="timer__divisor">:</span><span class="timer__seconds">10s</span></span> para pagar.</span>
    
    //- .block.block--timerTitle Tienes:
    //- .block.block--timer
    //-   .timer
    //-     .timer__block.timer__block--clock
    //-     .timer__block.timer__block--hours 183h
    //-     .timer__block.timer__block--divisor :
    //-     .timer__block.timer__block--minutes 58m
    //-     .timer__block.timer__block--divisor :
    //-     .timer__block.timer__block--seconds 24s
    //- .block.block--timerTitle Expira el:
    //- .block.block--date
    //-   span 29 mayo - 11:00 pm.
