//Start: OneStepPaymentSummary
.OneStepPaymentSummary
  //- .OneStepPaymentSummary__header
  //-   span Resumen de pago
  
  //- .OneStepPaymentSummary__details
  //-   .block
  //-     span.label Subtotal
  //-     span.value $ 3,801
  //-   .block
  //-     span.label Costos operativos
  //-     span.value $ 1,101
    
    //- .block
    //-   span.label.label--total <span class="h-color-blue">Total</span>
    //-   span.value.value--total <span class="h-semi-bold h-color-blue">$ 4,903</span>
  .OneStepPaymentSummary__total
    span $ 26.990
    //- span.details-button 
    
//End: OneStepPaymentSummary
