.ChatBox
  .options_buttons
    .btn_minimizar.btn
      | <i class="fa fa-minus" aria-hidden="true"></i>
    .btn_cerrar.btn
      | <i class="fa fa-times" aria-hidden="true"></i>
  span.title Chat
  div.ChatBox-messageView
    span.agent_msg Hola, ¿en qué te puedo ayudar?
    span.user_msg Hola, quiero saber cómo cambiar de banca por internet?
    span.agent_msg Hola, ¿en qué te puedo ayudar?
    span.user_msg Hola, quiero saber cómo cambiar de banca por internet?
    span.agent_msg Hola, ¿en qué te puedo ayudar?
    span.user_msg Hola, quiero saber cómo cambiar de banca por internet?
    span.agent_msg Hola, ¿en qué te puedo ayudar?
    span.user_msg Hola, quiero saber cómo cambiar de banca por internet?
  div.ChatBox-messageInsert
    textarea.textarea_insert_messages(placeholder="Escribe tu consulta ...")
      
