.ActualizarNavegador
  .ActualizarNavegador-content
    table.ActualizarNavegador-table
      tr
        td.icono
          img(src="images/icon-alerta-bombilla.png", alt="Alerta")
        td.detalle
          .mensaje
            p Actualiza la versión del navegador para poder realizar tu pago.
            p Atualiza a versão do navegador para poder realizar o seu pagamento.
            p.last Please update your browser to the lastet version in order to process your payment.
            .list Enlaces / Links:
            a.link(href='https://www.google.com.pe/chrome/browser/') Google Chrome
            a.link(href='https://www.mozilla.org/es-ES/firefox/new/') Firefox
            a.link(href='http://windows.microsoft.com/es-es/internet-explorer/download-ie') Explorer

            
      
    
