.TiempoExpirado
  .TiempoExpirado-content
    .main_expiracion
      .icon_expirado
      .mensaje
        p.saludo ¡Olá!
        p.text Sugerimos que faça uma nova compra, já que o tempo expirou.
        a.btn_volver_comprar(href="#")
          i.icon_arrow
          |Comprar novamente
    .footer_expiracion
      a.logo_safetypay(href="#")
