// Footer
.Footer
  .Footer-content
    span Ayuda: support@safetypay.com
    p.Footer-content-logoWrapper
        img(src="img/logo-safetypay-small.png", alt="Vía SafetyPay")
  .ReturnToTest Retornar a <a class="ReturnToTest__link" href="#">MTEST</a>
