header.recuperacion
  .header-content
    .MensajeRecuperacion
      .MensajeRecuperacion-content
        p ¡No te preocupes! Aún puedes pagar tu compra.
    #tabs.tabs
      a.banca.seleccionado(href='#tab-1') Banca por internet
      a.efectivo(href='#tab-2') Pagar en efectivo
  .seleccion
    select#languages(name='idioma')
      option(value='') Español
      option(value='') Inglés
      option(value='') Portugués
      option(value='') Alemán
    select#countries(name='countries')
      option(value='pe', data-image='images/msdropdown/icons/blank.gif', data-imagecss='flag pe', data-title='Peru') PER
      option(value='br', data-image='images/msdropdown/icons/blank.gif', data-imagecss='flag br', data-title='Brasil') BRA
      option(value='ca', data-image='images/msdropdown/icons/blank.gif', data-imagecss='flag ca', data-title='Canada') CAN
      option(value='co', data-image='images/msdropdown/icons/blank.gif', data-imagecss='flag co', data-title='Colombia') COL
      option(value='cr', data-image='images/msdropdown/icons/blank.gif', data-imagecss='flag cr', data-title='Costa Rica') COS
      option(value='salv', data-image='images/msdropdown/icons/blank.gif', data-imagecss='flag sv', data-title='El salvador') SAL
      option(value='usa', data-image='images/msdropdown/icons/blank.gif', data-imagecss='flag us', data-title='USA') USA
      option(value='gua', data-image='images/msdropdown/icons/blank.gif', data-imagecss='flag gt', data-title='Guatemala') GUA
      option(value='hn', data-image='images/msdropdown/icons/blank.gif', data-imagecss='flag hon', data-title='Honduras') HON
      option(value='mex', data-image='images/msdropdown/icons/blank.gif', data-imagecss='flag mx', data-title='Mexico') MEX
      option(value='nic', data-image='images/msdropdown/icons/blank.gif', data-imagecss='flag ni', data-title='Nicaragua') NIC
      option(value='pa', data-image='images/msdropdown/icons/blank.gif', data-imagecss='flag pa', data-title='Panama') PAN
      option(value='al', data-image='images/msdropdown/icons/blank.gif', data-imagecss='flag al', data-title='Alemania') AL
      option(value='aus', data-image='images/msdropdown/icons/blank.gif', data-imagecss='flag aus', data-title='Austria') AUS
      option(value='esp', data-image='images/msdropdown/icons/blank.gif', data-imagecss='flag esp', data-title='España') ESP
      option(value='hol', data-image='images/msdropdown/icons/blank.gif', data-imagecss='flag hol', data-title='Holanda') HOL
      option(value='ecu', data-image='images/msdropdown/icons/blank.gif', data-imagecss='flag ecu', data-title='Ecuador') ECU
