- var clase_recuperacion = "recuperacion";

.MensajeRecuperacion.MensajeRecuperacion--lightbox
  .MensajeRecuperacion-content
    //- p ¡No te preocupes! Aún puedes pagar tu compra.
    p Não se preocupe! Você ainda pode pagar sua compra.
