//SlideFinancieras: Pago por internet
.SeleccionFinanciera.SeleccionFinanciera--bancaInternet
  //- h1.SeleccionFinanciera-title Selecciona tu banco
  .SeleccionFinanciera-slideWrapper
    .SeleccionFinanciera-slideButtons
    .SeleccionFinanciera-slide
      each val in [1]
        .SeleccionFinanciera-item.bancaInternet
          .link-wrapper
            a.link.is-disabled.seleccionado(href="#", data-nom-entidad="banco-santander")
              img(src="img/shop-places/mobile/santander.png", data-srcset="img/shop-places/santander.png 700w", alt="Banco Santander")
          .link-wrapper
            a.link.is-disabled(href="#", data-nom-entidad="macro")
              img(src="img/shop-places/mobile/macro.png", data-srcset="img/shop-places/macro.png 700w", alt="Macro")
          .link-wrapper
            a.link.is-disabled(href="#", data-nom-entidad="banco-itau")
              img(src="img/shop-places/mobile/itau.png", data-srcset="img/shop-places/itau.png 700w", alt="Banco ITAU")
          .link-wrapper
            a.link.is-disabled(href="#", data-nom-entidad="banco-galicia")
              img(src="img/shop-places/mobile/galicia.png", data-srcset="img/shop-places/galicia.png 700w", alt="Banco Galicia")
          .link-wrapper
            a.link.is-disabled(href="#", data-nom-entidad="banco-nacion")
              img(src="img/shop-places/mobile/nacion.png", data-srcset="img/shop-places/nacion.png 700w", alt="Banco Nación")
          .link-wrapper
            a.link.is-disabled(href="#", data-nom-entidad="banco-provincia")
              img(src="img/shop-places/mobile/provincia.png", data-srcset="img/shop-places/provincia.png 700w", alt="Banco Provincia")
        .SeleccionFinanciera-item.bancaInternet
          .link-wrapper
            a.link.is-disabled(href="#", data-nom-entidad="banco-bbva")
              img(src="img/shop-places/mobile/bbva.png", data-srcset="img/shop-places/bbva.png 700w", alt="Banco BBVA")
          .link-wrapper
            a.link.is-disabled(href="#", data-nom-entidad="credicoop")
              img(src="img/shop-places/mobile/credicoop.png", data-srcset="img/shop-places/credicoop.png 700w", alt="credicoop")
          .link-wrapper
            a.link.is-disabled(href="#", data-nom-entidad="banco-hsbc")
              img(src="img/shop-places/mobile/hsbc.png", data-srcset="img/shop-places/hsbc.png 700w", alt="Banco HSBC")
          .link-wrapper
            a.link.is-disabled(href="#", data-nom-entidad="banco-citibank")
              img(src="img/shop-places/mobile/citibank.png", data-srcset="img/shop-places/citibank.png 700w", alt="Banco Citibank")
