// PAGAR EN EFECTIVO
section.tab-content.pago-en-efectivo#tab-efectivo
  //- .TabsInternos
    a.tab_button.btn_personas.is-active(href="#", data-tab-name="personas") Personas
    a.tab_button.btn_empresas(href="#", data-tab-name="empresas") Empresas
  
  .TabsInternos-content.is-active
    include ./_slide-financieras-efectivo-pagofacil-disabled.pug
    include ./_formulario-datos-autenticacion-efectivo.pug
    
    //ProcedimientoPago
    .ProcedimientoPago
      include ./_ticket-pago-efectivo-pagofacil-disabled.pug
