//Ticket
include ./tickets/_ticket-online-santander.pug
include ./tickets/_ticket-online-citibank.pug
include ./tickets/_ticket-online-bbva.pug
include ./tickets/_ticket-online-credicoop.pug
include ./tickets/_ticket-online-galicia.pug
include ./tickets/_ticket-online-hsbc.pug
include ./tickets/_ticket-online-itau.pug
include ./tickets/_ticket-online-macro.pug
include ./tickets/_ticket-online-nacion.pug
include ./tickets/_ticket-online-provincia.pug

