<div class="main-container">
    <header class="header">
            <h1>Estado Explorar</h1>
    </header>
    <div class="explorer-list">
        <div class="explorer-container"  [ngClass]="statusPdf ? 'show' : 'hide'">
            <div *ngFor="let projects of arrayProjects; let i = index" >
                <div class="container-projects">
                    <div class="title" (click)="openPdf(projects.uri, projects)">
                        {{projects.title}}
                    </div>
                    <div class="votaciones">
                        <div class="like" (click)="agree(1, projects.id)">
                            <i class="material-icons">thumb_up</i>
                            {{projects.votes[1]}}
                        </div>
                        <div class="dislike"(click)="agree(2, projects.id)">
                            <i class="material-icons">thumb_down</i>
                            {{projects.votes[2]}}
                        </div>
                    </div>
                </div>
                </div>
            </div>
            <div class="pdf-container"  [ngClass]="statusPdf ? 'hide-pdf' : 'show-pdf'">
            <div (click)="openPdf(null)" style="position:absolute; right:15; left:15">
                <span>XXXXX</span>
            </div>
            <div class="data-project">
                <div class="data-info">
                    Título: 
                    <br>{{currentProject.title}}
                    <br>
                    Id Documento: {{currentProject.id}}
                    <br>
                    Hash Documento: {{currentProject.hash}}
                    <br>
                    Promotores: {{currentProject.promotors}}
                    <br>
                    Firmas: {{currentProject.signature}}
                    <br>
                    Signers: {{currentProject.signers}}
                    <br>
                    Ubigeo: {{currentProject.ubigeo}}
                    <br>
                    Url Documento: {{currentProject.uri}}
                    <br>
                    Nro Votos: {{currentProject.votes[3]}}
                </div>
                <button (click)="signDocument()" class="btn btn-red">Firmar documento</button>
            </div>
            <div class="pdfcont">
                <pdf-viewer [src]="pdfSrc" 
                [render-text]="true"
                style="display: block;"
                ></pdf-viewer>
            </div>
        </div>  
    </div>
</div>
    
                    